[Unit]
Description=download interbank futures PDF

[Service]
ExecStart=/home/dup/interbank-futures/download.sh
WorkingDirectory=/home/dup/interbank-futures
User=dup
