[Unit]
Description=download interbank futures data and update git repo

[Service]
ExecStart=/home/dup/interbank-futures/update.sh
WorkingDirectory=/home/dup/interbank-futures
User=dup
